body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: hidden;
}


#raphael-container {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
#raphael-conatiner {
    width: 100%;
    height: 100%;
}